<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <div class="profile">
                    <div class="profile-header">
                        <div class="profile-header-cover"></div>
                        <div>
                            <div class="registerPart emp-profile">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="profile-img">
                                                <img src="http://localhost:8080/user/files/{{profile.icon}}"
                                                    alt="" />
                                                <div class="file btn btn-lg btn-primary">Change Photo<input type="file"
                                                        name="file" /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="margin-top: 5%;" class="profile-head">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="tab-content profile-tab" id="myTabContent">
                                                            <div class="tab-pane fade show active" id="home"
                                                                role="tabpanel" aria-labelledby="home-tab">
                                                                <div style="margin-top: 2.5%;" class="marFirst row">
                                                                    <div class="form-group mb-2">
                                                                        <label for="nameInp">Name</label>
                                                                        <input type="text" [(ngModel)]="signup.name" name="name" class="form-control bg-dark text-light" id="nameInp"
                                                                          placeholder="Enter name">
                                                                      </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <div class="form-group mb-2">
                                                                        <label for="passInp">Phone</label>
                                                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
                                                                        [(ngModel)]="signup.phone" name="phone" class="form-control bg-dark text-light" id="passInp"
                                                                          placeholder="Enter your phone number" maxlength="10">
                                                                      </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <div class="form-group mb-2">
                                                                        <label for="passInp">Birthday date</label>
                                                                        <input type="date" [(ngModel)]="signup.birthday" min="1920-01-01"  max="2007-01-01" name="birthday"
                                                                          class="form-control bg-dark text-light" id="passInp" placeholder="Enter your birthday date">
                                                                      </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <label for="passInp">Gender</label>
                                                                    <select id="passInp" [(ngModel)]="signup.gender" name="gender" class="form-select bg-dark text-light"
                                                                      aria-label="Select your gender...">
                                                                        <option value="male">Male</option>
                                                                        <option value="female">Female</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="changes">
                                                    <button type="button" class="btn btn-success">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>