<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <div class="profile">
                    <div class="profile-header">
                        <div class="profile-header-cover"></div>                        
                        <div>
                            <div class="container emp-profile">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="profile-img">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                                                <div class="file btn btn-lg btn-primary">Change Photo<input type="file" name="file" /></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="margin-top: 10%;" class="profile-head">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="tab-content profile-tab" id="myTabContent">
                                                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                                <div style="margin-top: 2.5%;" class="marFirst row">
                                                                    <div class="col-md-6">
                                                                        <label>Name</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>Kshiti123</p>
                                                                    </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <div class="col-md-6">
                                                                        <label>Phone</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>Kshiti Ghelani</p>
                                                                    </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <div class="col-md-6">
                                                                        <label>Email</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>kshitighelani@gmail.com</p>
                                                                    </div>
                                                                </div>
                                                                <div class="marFirst row">
                                                                    <div class="col-md-6">
                                                                        <label>Gender</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>123 456 7890</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>