<div class="loader-m">
  <div>
    <form enctype="multipart/form-data">
      <div>
        <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="video.title" name="title" matInput placeholder="Title..." required>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="align col-md-5">
          <video [src]="url_vid" style="width: 100%;" controls></video>
          <div class="align">
            <button class="file-upload-button">
              <input [(ngModel)]="file_vid" name="file_vid" type="file" #fileInput (change)="onFileSelectVid(fileInput,$any(target($event).files))" required/>
            </button>

            <span class="file-info">{{ fileInfoVid }}</span>
          </div>
        </div>
        <div class="align col-md-5">
          <img [src]="url_img" height="200">
          <div class="align">
            <button class="file-upload-button">
              <input [(ngModel)]="file_prev" name="file_prev" type="file" #fileInput1 (change)="onFileSelectImg(fileInput1,$any(target($event).files))" required/>
            </button>

            <span class="file-info">{{ fileInfoImg }}</span>
          </div>
        </div>
      </div>
      <div>
        <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="video.description" name="description" matInput placeholder="Write something..."></textarea>
        </mat-form-field>
      </div>
      <button (click)="onSubmit()" type="submit" mat-button>SHARE</button>
    </form>
  </div>
</div>