.video-div{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.left{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-right: 20%;
    margin-top: 1.5%;
}

.row{
    --bs-gutter-x: 0 !important;
    margin: 0!important;
}
.back-img{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
}
.vids{
    transition: 0.5s;
    cursor: pointer;
}
.vids:hover{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 1%;
}