.video-div{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.left{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding-right: 20%;
    margin-top: 1.5%;
}

.row{
    --bs-gutter-x: 0 !important;
    margin: 0!important;
}
.back-img{
    background-color: rgb(44, 44, 44);
    background-size: cover;
    height: 15vh;
}