.main{
    height: 100%;
    width: 100%;
}

.fields{
    width: 100%;
}

.moreinfo{
    text-align: center;
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}


.my-scroll{
    overflow: scroll;
    overflow-x: hidden;
    height: 680px;
}

.left{
width: 20%;
float: left;

}

.right{
    background-color: rgb(218, 175, 144);
    float: left;
}

.f9{
padding: 0;
padding-left: 110px;
}

.f10{
    padding: 0;
    padding-left: 155px;
    }

.mr-t{
    padding-top: 20px;
}

.separator{
    padding: 7px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    margin-bottom: 15px;
}

.desc{
    margin-top: 30px;
    width: 94.5%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.inp{
    height: 2rem;
    margin: 0;
    padding: 0;
}

.mainButton{
    border-width: 2px;
    border-color: #fff;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    outline: none;
    border-radius: 4px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.675rem 1.2rem;
    align-self: center;
  }
  .mainButton:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.4s;
  }
  .Wm{
    margin: 0;
  }

  .margA{
      margin-top: 40px;
  }

  .href{
      color: white;
  }

  .href:hover{
      transition: 0.5s;
      color: black;
      cursor: pointer;
      text-decoration: underline;
  }

  .select { 
    display:flex;
    flex-direction: column;
    position:relative;
    font-size: 18px;
    text-align: left;
    width: 100%;
    margin: 5px 0 22px 0;
    height:40px;  
    color: #222;
      }


.centr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort:hover{
transition: 0.5s;
color: rgb(168, 168, 168);
text-decoration: underline;
}


.Videos_v{
    width: 300px;
    height: 175px;
    background-color: #f4425c;
}

.min-weight{
    min-width: 75px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 5%; /* Location of the box */
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    max-height: 100% !important;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgba(31, 31, 31, 0.9);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;   
  }

  .m-i-h{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  /* The Close Button */
  .close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(141, 141, 141);
    text-decoration: none;
    cursor: pointer;
  }
  

  .modal-video{
      width: 50%;
      height: 450px;
      margin-top: 1%;
      margin-bottom: 2%;
      background-color: #f4425c;
  }

  .modal-comments{
      width: 42%;
      height: 450px;
      margin-top: 1%;
      margin-bottom: 2%;
      background-color: #383838;

      overflow-x: hidden;
      overflow-y: scroll;
  }

  .modal-b{
    width: 3%;
    height: 450px;
    margin-top: 1%;
    margin-bottom: 2%;
    background: linear-gradient(to right, rgba(31, 31, 31, 0.9), #383838);
}

.modal-hide{
    height: 1%;
    width: 100%;
    padding-right: 2%;
}

.comment-div{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    
    height: 80px;
    background-color: transparent
}

.text-comment{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.75);

    font-family:Georgia, 'Times New Roman', Times, serif
}

.author-ct{
    font-size: 18px;    
    color: whitesmoke;
    letter-spacing: 1px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.c-hp{
    height: 80px;
    width: 13%;

    background-color: #f4425c;
    border-radius: 100%;
    margin-right: 10px;

    display: inline;
    float: left;
}

.c-au{
    height: 80px;
    width: 20%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}

.c-com{    
    height: 80px;
    width: 52%;    
    margin-left: 3%;

    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-tr{
    height: 80px;
    width: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}