.video-div{
    margin-left: 0;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}
.rec-div{
    margin-top: 10.5%;
    height: 100%;
}

.row{
    --bs-gutter-x: 0;
    margin-left: 0;
    margin-right: 0;
}

.bg-black{
    background-color: rgb(8, 8, 8);
    color: whitesmoke;
}

.left{
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-right: 25%;
    margin-top: 1.5%;
}

.mat-tab-group{
height: 100%;
}

.marg{
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    -ms-overflow-style: none;  
}

.marg::-webkit-scrollbar {
    display: none;
  }


.scroll-div{
    margin-left: -5%;
    height: 81%;
}

.comments{
    height: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

.comments::-webkit-scrollbar {
    width: 10px;
    background-color: #343a40;
  }
  
  .comments::-webkit-scrollbar-thumb {
    background-color: rgba(121,9,70,1);
  }
  .comments::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #343a40;
  }

.addComment{
    padding: .75em .75em 0 .75em;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: none !important;
}

.Cm_1{
    width: 100%;
}

@media (max-width: 1700px) {
    .Cm_1{
        width: 60%;
    }
  }

  @media (max-width: 1450px) {
    .Cm_1{
        width: 50%;
    }
  }

  @media (max-width: 1300px) {
    .Cm_1{
        width: 40%;
    }
  }

  @media (max-width: 1150px) {
    .addComment{
        position: fixed;
    }
  }

.main_comment{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-top: 15px;
}

.u_c{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #cc1379;
}

.m_c{
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(224, 224, 224);

    margin-left: 10%;
    display: block;
}

.ma_beLike{
    display: inline;    
}

.color_reply{
    color: black;
    margin-left: 10px;
}

.com_img{
    height: 50px;
    width: 50px;
    margin-right: 3%;
    border-radius: 100%;

    float: left;
    background-color: rgba(168, 197, 216);
}

.com_com{
    height: 100%;
    float: left;
}
.profile{
    height: 100%;
}
.profile>.profile-header{
    height: 100%;
}
.comment-but{
}
.mat-tab-body-wrapper{
    height: 100%;
}