.video-div{
    margin-left: 0;
    margin-top: 5%;
}
.rec-div{
    margin-top: 10.5%;
}

.row{
    --bs-gutter-x: 0;
    margin-left: 0;
    margin-right: 0;
}

.bg-black{
    background-color: rgb(8, 8, 8);
    color: whitesmoke;
}

.left{
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-right: 25%;
    margin-top: 1.5%;
}

.mat-tab-group{
height: 100%;
}

.marg{
    height: 90%;
    margin-left: 5%;
    overflow: hidden;
    -ms-overflow-style: none;  
}

.marg::-webkit-scrollbar {
    display: none;
  }


.scroll-div{
    margin-left: -5%;
    height: 81%;
}

.comments{
    height: 560px;
    overflow-y: auto;
    white-space: nowrap;
}

.comments::-webkit-scrollbar {
    width: 10px;
    background-color: #343a40;
  }
  
  .comments::-webkit-scrollbar-thumb {
    background-color: rgba(121,9,70,1);
  }
  .comments::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #343a40;
  }
