<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="marg row">
  <div class="col-lg-8 text-light">
    <div class=" video-div">
      <video src="http://localhost:8080/video/files/{{video.src}}" width="1020" height="680" controls autoplay>
      </video>
      <div class="left">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart mr-1"
          viewBox="0 0 16 16">
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
        </svg>
        <p>666</p>
      </div>
      <h1>{{video.title}}</h1>
      <h4>{{video.description}}</h4>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="container rec-div scroll-div">
      <div class="row" style="height: 100%;">
        <div class="col-md-12"  style="height: 100%;">
          <div id="content" class="content content-full-width">
            <div class="profile">
              <div class="profile-header">
                <mat-tab-group class="bg-dark" style="height: 100%;">
                  <mat-tab label="COMMENTS" >
                    <div class="tab-content p-0">
                      <div class="tab-pane fade active show" id="profile-post">
                        <div class="text-light comments">
                          <mat-tree class="bg-dark text-light" [dataSource]="dataSource" [treeControl]="treeControl">
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                              <button mat-icon-button disabled></button>
                              {{node.item}}
                            </mat-tree-node>
                            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                              <button mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
                                <mat-icon class="mat-icon-rtl-mirror">
                                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                              </button>
                              {{node.item}}
                              <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
                              </mat-progress-bar>
                            </mat-tree-node>
                          </mat-tree>
                        </div>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Comment</mat-label>
                            <input matInput>
                          </mat-form-field>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="RECOMENDATION">
                    <div class="over tab-content p-0">               
                      <div class="over row py-5 px-4">
                        <div class="over col-md-10">
                          <div class=" text-light comments">
                            <!-- <div *ngFor="let v of videos; let i = index">
                                    <div>
                                        <img src="http://localhost:8080/video/files/{{v.preview}}" width="280" height="140" />
                                        <h3>{{v.title}}</h3>
                                        <h5>{{v.description}}</h5>
                                    </div>
                                </div> -->
                            <div>
                              <div>
                                <img src="{{video.preview}}" width="260" height="140" />
                                <h5>title</h5>
                              </div>
                              <div>
                                <img src="https://cs7.pikabu.ru/post_img/big/2019/08/03/5/1564817034127071355.jpg" width="260" height="140" />
                                <p>title</p>
                              </div>
                              <div>
                                <img src="https://cs7.pikabu.ru/post_img/big/2019/08/03/5/1564817034127071355.jpg" width="260" height="140" />
                                <p>title</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- http://localhost:8080/video/files/1.mp4 -->
<!-- https://r220109.kujo-jotaro.com/fullmetal-alchemist/1.480.6dd71aa1e6101db1.mp4?hash1=b3ec7c4bfc156f04318fcbb4f9f89061&hash2=b1ec43ae18e937cebfc2c5b13056e46d -->