<mat-sidenav-container class="example-container">
  <mat-sidenav class="bg-dark" *ngIf="isOpened" mode="side" opened><app-list-user></app-list-user></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
    <button (click)="show()" mat-icon-button class="example-icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>VideoHUB</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <div class="registerPart">
   <div class="col-md-3 col-sm-3 col-xs-6"><a href="/register" class="btn-bl btn btn-sm animated-button victoria-one">Sign up</a></div>
   <div class="col-md-3 col-sm-3 col-xs-6"><a href="/login" class="btn-bl btn btn-sm animated-button victoria-two">Sign in</a></div>
 </div>

 </mat-toolbar>


<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
