<div class="align-div">
<mat-card class="bg-dark m-10">
  <h1 class="t-title">Login</h1>
  <form class="m-5 text-light">
    <div class="form-group mb-2">
      <label for="nameInp">Name</label>
      <input type="text" class="form-control bg-dark text-light" id="nameInp" placeholder="Enter name">
    </div>
    <div class="form-group mb-2">
      <label for="passInp">Password</label>
      <input type="password" class="form-control bg-dark text-light" id="passInp" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-grad mt-5">LOGIN</button>
  </form>
</mat-card>
</div>