<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-img">
                <img src="http://localhost:8080/user/files/{{profile.icon}}" alt="">
              </div>
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{profile.name}}</h4>
                <a (click)="Edit()" class="btn btn-sm btn-info mb-2">Edit Profile</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <mat-tab-group>
        <mat-tab label="VIDEOS">
          <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="profile-post">
              <ul class="timeline">
                <li *ngFor="let video of videos" [value]="video">
                  <div class="timeline-time">
                    <span class="date">{{normalTime(video.created_at)}}</span>
                  </div>
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"><img src="http://localhost:8080/user/files/{{profile.icon}}"
                          alt=""></span>
                      <span class="username">{{profile.name}}</span>
                      <!-- <span class="pull-right text-muted">1,282 Views</span> -->
                    </div>
                    <div class="timeline-content">
                      <p (click)="videoRef(video.id)" class="lead" style="background-image: url(http://localhost:8080/video/files/{{video.preview}});">
                        <!-- <i class="fa fa-quote-left fa-fw pull-left"></i>
                        Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie
                        placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna.
                        Suspendisse mollis in sem vel mollis.
                        <i class="fa fa-quote-right fa-fw pull-right"></i> -->                    
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="SUBSCRIPTIONS">
          <div class="subscriptions">
            <div class="mainPart">
              <div class="subPart">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <div class="image"> <img
                        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                        class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                      <h4 class="mb-0 mt-0 text-white">Alex Morrision</h4>
                      <span style="color: white;">Senior Journalist</span>
                      <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                            class="number1">38</span> </div>
                        <div class="d-flex flex-column"> <span class="followers">Subscribers</span> <span
                            class="number2">980</span> </div>
                      </div>
                      <div class="button mt-2 d-flex flex-row align-items-center"> <button
                          class="btn btn-sm btn-grad w-100 ml-2">Subscribe</button> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mainPart">
              <div class="subPart">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <div class="image"> <img
                        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                        class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                      <h4 class="mb-0 mt-0 text-white">Alex Morrision</h4>
                      <span style="color: white;">Senior Journalist</span>
                      <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                            class="number1">38</span> </div>
                        <div class="d-flex flex-column"> <span class="followers">Subscribers</span> <span
                            class="number2">980</span> </div>
                      </div>
                      <div class="button mt-2 d-flex flex-row align-items-center"> <button
                          class="btn btn-sm btn-grad w-100 ml-2">Subscribe</button> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mainPart">
              <div class="subPart">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <div class="image"> <img
                        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                        class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                      <h4 class="mb-0 mt-0 text-white">Alex Morrision</h4>
                      <span style="color: white;">Senior Journalist</span>
                      <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                            class="number1">38</span> </div>
                        <div class="d-flex flex-column"> <span class="followers">Subscribers</span> <span
                            class="number2">980</span> </div>
                      </div>
                      <div class="button mt-2 d-flex flex-row align-items-center"><button
                          class="btn btn-sm btn-grad w-100 ml-2">Subscribe</button> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="ABOUT">
          <div class="about_part bg-dark">
            <div class="half">
              <span class="description_p">Name:</span>
              <span class="description_main">User_Name_Here</span>
            </div>
            <div class="half">
              <span class="description_p">Birthday:</span>
              <span class="description_main">18.05.2004</span>
            </div>
            <div class="half">
              <span class="description_p">Phone:</span>
              <span class="description_main">(+380)-66-330-663</span>
            </div>
            <div class="half">
              <span class="description_p">Gender:</span>
              <span class="description_main">Im_Not_Woman</span>
            </div>
          </div>

          <div class="about_part bg-dark">
            <div class="half">
              <span class="description_p">Count videos:</span>
              <span class="description_main">333 <span class="material-icons">movie</span>
              </span>
            </div>
            <div class="half">
              <span class="description_p">Count likes:</span>
              <span class="description_main"><span class="description_main">1224 <span class="material-icons">favorite</span>
              </span>
            </span>
            </div>
            <div class="half">
              <span class="description_p">Count subscribers:</span>
              <span class="description_main">103 <span class="material-icons">people</span></span>
            </div>
            <div class="half">
              <span class="description_p">Count requests:</span>
              <span class="description_main">16 <span class="material-icons">
                grade
                </span></span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>