<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-img">
                <img src="http://localhost:8080/user/files/def.png" alt="">
              </div>
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{profile.name}}</h4>
                <a href="#" class="btn btn-sm btn-info mb-2">Edit Profile</a>
              </div>
            </div>
            <mat-tab-group>
              <mat-tab label="VIDEOS">
                <div class="tab-content p-0">
                  <div class="tab-pane fade active show" id="profile-post">
                    <ul class="timeline">
                      <li>
                        <div class="timeline-time">
                          <span class="date">today</span>
                          <span class="time">04:20</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>
                            <span class="pull-right text-muted">18 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                              tincidunt luctus.
                              Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            </p>
                          </div>
                          <div class="timeline-likes">
                            <div class="stats-right">
                              <span class="stats-text">259 Shares</span>
                              <span class="stats-text">21 Comments</span>
                            </div>
                            <div class="stats">
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                              </span>
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                              </span>
                              <span class="stats-total">4.3k</span>
                            </div>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                          <div class="timeline-comment-box">
                            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                            <div class="input">
                              <form action="">
                                <div class="input-group">
                                  <input type="text" class="form-control rounded-corner"
                                    placeholder="Write a comment...">
                                  <span class="input-group-btn p-l-10">
                                    <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                  </span>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">yesterday</span>
                          <span class="time">20:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">82 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>Location: United States</p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">24 February 2014</span>
                          <span class="time">08:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p class="lead">
                              <i class="fa fa-quote-left fa-fw pull-left"></i>
                              Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie
                              placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna.
                              Suspendisse mollis in sem vel mollis.
                              <i class="fa fa-quote-right fa-fw pull-right"></i>
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">10 January 2014</span>
                          <span class="time">20:43</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,021,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <h4 class="template-title">
                              <i class="fa fa-map-marker text-danger fa-fw"></i>
                              795 Folsom Ave, Suite 600 San Francisco, CA 94107
                            </h4>
                            <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas
                              molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.
                            </p>
                            <p class="m-t-20">
                              <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          Loading...
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="SUBSCRIPTIONS">
                <!-- <div class="tab-content p-0">
                  <div class="tab-pane fade active show" id="profile-post">
                    <ul class="timeline">
                      <li>
                        <div class="timeline-time">
                          <span class="date">today</span>
                          <span class="time">04:20</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>
                            <span class="pull-right text-muted">18 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                              tincidunt luctus.
                              Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            </p>
                          </div>
                          <div class="timeline-likes">
                            <div class="stats-right">
                              <span class="stats-text">259 Shares</span>
                              <span class="stats-text">21 Comments</span>
                            </div>
                            <div class="stats">
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                              </span>
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                              </span>
                              <span class="stats-total">4.3k</span>
                            </div>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                          <div class="timeline-comment-box">
                            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                            <div class="input">
                              <form action="">
                                <div class="input-group">
                                  <input type="text" class="form-control rounded-corner"
                                    placeholder="Write a comment...">
                                  <span class="input-group-btn p-l-10">
                                    <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                  </span>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">yesterday</span>
                          <span class="time">20:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">82 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>Location: United States</p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">24 February 2014</span>
                          <span class="time">08:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p class="lead">
                              <i class="fa fa-quote-left fa-fw pull-left"></i>
                              Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie
                              placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna.
                              Suspendisse mollis in sem vel mollis.
                              <i class="fa fa-quote-right fa-fw pull-right"></i>
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">10 January 2014</span>
                          <span class="time">20:43</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,021,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <h4 class="template-title">
                              <i class="fa fa-map-marker text-danger fa-fw"></i>
                              795 Folsom Ave, Suite 600 San Francisco, CA 94107
                            </h4>
                            <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas
                              molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.
                            </p>
                            <p class="m-t-20">
                              <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          Loading...
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <div class="subscriptions">
                  <div class="subPart">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <div class="image"> <img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                          <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
                          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                                class="number1">38</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                                class="number2">980</span> </div>
                          </div>
                          <div class="button mt-2 d-flex flex-row align-items-center"> <button
                              class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                              class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="subPart">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <div class="image"> <img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                          <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
                          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                                class="number1">38</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                                class="number2">980</span> </div>
                          </div>
                          <div class="button mt-2 d-flex flex-row align-items-center"> <button
                              class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                              class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                        </div>
                      </div>
                    </div>
                  </div>   
                  <div class="subPart">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <div class="image"> <img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                          <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
                          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                                class="number1">38</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                                class="number2">980</span> </div>
                          </div>
                          <div class="button mt-2 d-flex flex-row align-items-center"> <button
                              class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                              class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="subPart">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <div class="image"> <img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                          <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
                          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                                class="number1">38</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                                class="number2">980</span> </div>
                          </div>
                          <div class="button mt-2 d-flex flex-row align-items-center"> <button
                              class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                              class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="subPart">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <div class="image"> <img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                          <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
                          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span
                                class="number1">38</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span
                                class="number2">980</span> </div>
                          </div>
                          <div class="button mt-2 d-flex flex-row align-items-center"> <button
                              class="btn btn-sm btn-outline-primary w-100">Chat</button> <button
                              class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                        </div>
                      </div>
                    </div>
                  </div>                
                </div>
              </mat-tab>
              <mat-tab label="ABOUT">
                <div class="over tab-content p-0">
                  <!-- <div class="tab-pane fade active show" id="profile-post">
                     <ul class="timeline">]

                      <li>
                        <div class="timeline-time">
                          <span class="date">today</span>
                          <span class="time">04:20</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>
                            <span class="pull-right text-muted">18 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                              tincidunt luctus.
                              Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            </p>
                          </div>
                          <div class="timeline-likes">
                            <div class="stats-right">
                              <span class="stats-text">259 Shares</span>
                              <span class="stats-text">21 Comments</span>
                            </div>
                            <div class="stats">
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                              </span>
                              <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                              </span>
                              <span class="stats-total">4.3k</span>
                            </div>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                          <div class="timeline-comment-box">
                            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                            <div class="input">
                              <form action="">
                                <div class="input-group">
                                  <input type="text" class="form-control rounded-corner"
                                    placeholder="Write a comment...">
                                  <span class="input-group-btn p-l-10">
                                    <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                  </span>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">yesterday</span>
                          <span class="time">20:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">82 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p>Location: United States</p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li> 
                        <div class="timeline-time">
                          <span class="date">24 February 2014</span>
                          <span class="time">08:17</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <p class="lead">
                              <i class="fa fa-quote-left fa-fw pull-left"></i>
                              Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie
                              placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna.
                              Suspendisse mollis in sem vel mollis.
                              <i class="fa fa-quote-right fa-fw pull-right"></i>
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-time">
                          <span class="date">10 January 2014</span>
                          <span class="time">20:43</span>
                        </div>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                            <span class="username">Sean Ngu</span>
                            <span class="pull-right text-muted">1,021,282 Views</span>
                          </div>
                          <div class="timeline-content">
                            <h4 class="template-title">
                              <i class="fa fa-map-marker text-danger fa-fw"></i>
                              795 Folsom Ave, Suite 600 San Francisco, CA 94107
                            </h4>
                            <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas
                              molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.
                            </p>
                            <p class="m-t-20">
                              <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                            </p>
                          </div>
                          <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                        </div>
                      </li> 
                      <li>
                        <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                          Loading...
                        </div>
                      </li>
                    </ul> 
                                    
                  <div style="width: 90%; margin-right: 10%; height: 200px; background-color: rgb(212, 231, 255);">

                  </div>
                </div> -->

                  <div class="over row py-5 px-4">
                    <div class="over col-md-10">
                      <!-- Profile widget -->
                      <div class="over bg-white shadow rounded overflow-hidden">
                        <div class="px-4 pt-0 pb-4 cover">
                          <div class="media align-items-end profile-head">
                            <div class="profile mr-3" style="min-width: 350px;">
                              <img
                                src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                                alt="..." width="130" class="rounded mb-2 img-thumbnail">
                              <div class="media-body mb-8 text-white" style="margin: auto; display: inline;">
                                <h4 style="font-size: 28px; display: inline; margin: 4%;" class="mt-0 mb-0">Mark
                                  Williams</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="over bg-light p-4 d-flex justify-content-end text-center">
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <h5 class="mainText font-weight-bold mb-0 d-block">4</h5><small
                                class="text-muted">Photos</small>
                            </li>
                            <li class="marL list-inline-item">
                              <h5 class="mainText font-weight-bold mb-0 d-block">652</h5><small
                                class="text-muted">Followers</small>
                            </li>
                            <li class="marL list-inline-item">
                              <h5 class="mainText font-weight-bold mb-0 d-block">280</h5><small
                                class="text-muted">Following</small>
                            </li>
                          </ul>
                        </div>
                        <div class="px-5 py-4">
                          <h5 class="mainText mb-0">About</h5>
                          <div class="p-4 rounded shadow-sm bg-light">
                            <i>
                              <p class="font-italic mb-0">I`m men</p>
                              <p class="font-italic mb-0">Birthday: 24.07.2001</p>
                              <p class="font-italic mb-0">Phone: +380-97-368-96-00</p>
                            </i>
                          </div>
                        </div>
                        <div class="py-4 px-4">
                          <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mainText mb-0">Recent photos</h5><a href="#"
                              class="mainText btn btn-link text-muted">Show all</a>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 mb-2 pr-lg-1"><img
                                src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 mb-2 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pr-lg-1 mb-2"><img
                                src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>